<h1><%= @user.name %>'s Team</h1>
<p><%= @team.name %></p>
<p>League: <%= @team.league.name %></p>

<p>Players</p>
<ul>
  <% @team.players.each do |player| %>
  <li> <%= player.name %> </li>
  <% end %>
</ul>

<%= link_to "Edit Team", edit_user_team @user %>
