<%= render partial: 'teams/team_tabs', locals: {team: current_user.team, user: current_user} %>

  <table class="table table-striped">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Manager</th>
          <th>Wins</th>
          <th>Losses</th>
        </tr>
      </thead>
      <tbody>
        <% @league.teams.order(wins: :desc).each_with_index do |team, index| %>
        <tr>
            <td class="text-left"><%= index + 1 %></td>
            <td class="text-left"> <%= team.name %> </td>
            <td class="text-left"> <%= team.user.name %> </td>
            <td class="text-left"> <%= team.wins %> </td>
            <td class="text-left"> <%= team.losses %> </td>
        </tr>
      <% end %>

      </tbody>
    </table>

