
<div class="fluid-container text-center">
  <h1>Play a Match!</h1>
  <h3>Choose your opponent: </h3>
</div>


<%= form_tag(new_match_path, :method => "get", id: "search-form") do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], placeholder: "Search for an opponent", class: "form-control"%>
      <span class="input-group-btn">
        <%= button_tag class: "btn btn-default" do %>
          <span class='glyphicon glyphicon-search'></span>
    <% end %>
      </span>
  </div>
<% end %>

<br></br>

<% @users.each do |user| %>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-3 text-right">
    <%= user.name %>
  </div>
  <div class="col-sm-3">
    <%= button_to "Challenge #{user.name}!", action: 'create', method: 'post', params: { away_team_id: user.team.id } %>
  </div>
  <div class="col-sm-3"></div>
</div>
<% end %>
