<style type="text/css">
   body { background: palegoldenrod !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

    <div class="container" style="background-image: url('https://previews.123rf.com/images/designsource09/designsource091403/designsource09140300001/26631046-hardwood-maple-basketball-court-floor-viewed-from-above.jpg')">



<div class="fluid-container text-center">
  <h1>Play a Match!</h1>
  <h3>Choose your opponent: </h3>
</div>
<div class="container" style="background-image: url('https://previews.123rf.com/images/designsource09/designsource091403/designsource09140300001/26631046-hardwood-maple-basketball-court-floor-viewed-from-above.jpg')">



</div>
<div class="search-from">
<%= form_tag(new_match_path, :method => "get", id: "search-form") do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], placeholder: "Search for an opponent", class: "form-control"%>
      <span class="input-group-btn">
        <%= button_tag class: "btn btn-default" do %>
          <span class='glyphicon glyphicon-search'></span>
        </div>
    <% end %>
      </span>
  </div>
<% end %>
<div class="container" style="background-image: url('https://previews.123rf.com/images/designsource09/designsource091403/designsource09140300001/26631046-hardwood-maple-basketball-court-floor-viewed-from-above.jpg')">

</div>
<br></br>


<table class="table table-hover text-center">

    <thead>
      <tr>
      <td class="text-center">Team</th>
      <td class="text-center">Owner</th>
      <td class="text-center">Challenge</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%@users.each do |user| %>
        <td class="text-center"><%= user.team.name %></td>
        <td class="text-center"><%= user.name %></td>
        <td class="text-center"><%= button_to "Challenge #{user.name}!", action: 'create', method: 'post', params: { away_team_id: user.team.id } %></td>
    </div>
    </tr>

<% end %>
</div>
