<h1><%= @match.home_team.name%> VS <%= @match.away_team.name %></h1>

<h3>Winner: <%= @match.winning_team.name %></h3>

<% if flash[:message] %>
<h2> <%= flash[:message] %></h2>
<% end %>

<h3>New Records</h3>
<%= "#{@match.home_team.name} : #{@match.home_team.wins} - #{@match.home_team.losses}" %> <br>
<%= "#{@match.away_team.name} : #{@match.away_team.wins} - #{@match.away_team.losses}" %>
